<div id="page_wrapper">
    <div id="profile_image">
        <%= image_tag "profile.jpg" %>
    </div>

    <div id="content">
        <h2>你好，欢迎来到Life's Game</h2>
        <p>在这里，你将享受到人生这场游戏的乐趣，你将成为另一个自己。</p>
        <p>你还在为自己不能完成自己的学习目标而发愁吗？你还在为自己不能减肥而发愁吗？你还在克制自己，而想办法吗？</p>
        <p>在这里一切的一切将变的不同，你在这里将感受到，自己的强大，享受学习和减肥等所有正能理的乐趣。同时，你还能得到自己加入购物车好久，
          但是没有送给自己的礼物。在这里，有我们陪你，你不是一个人在战斗。
            有什么想对我说的，关于Game的改进、建设、人生理想...哪方面都可以，<a href="http://weibo.com/u/1929472077/home?topnav=1&wvr=6">请爱我</a>，欢迎给我留言。 </p>
    </div>
</div>
