<div id="page_wrapper">

    <div id="profile_image">
        <%= image_tag "alipay.jpg" %>
    </div>

    <div id="profile_image">
        <%= image_tag "wechatpay.jpg" %>
    </div>

    <div id="content">
        <h2>你好，欢迎来到Life's Game</h2>
        <p>因为是测试版，支付功能全靠自觉。每月9.99元</p>
        <p>以后我们会一步步改进，您的关爱，就是对我们最大的鼓励。</p>
        <p>如果对我们的产品不满意，或是有什么想对我说的，关于Game的改进、建设、人生理想...哪方面都可以，<a href="http://weibo.com/u/1929472077/home?topnav=1&wvr=6">请爱我</a>，欢迎给我留言。 </p>
    </div>
</div>
